<p>Welcome to L'artiste! </p>

<h1> Featured Products </h1>

<div class = container>
	<div class = row>
		{{#each product}}
			<div class = col-md-4>
				{{this.photo}}
				{{this.description}}
				{{this.stars}}
				{{this.price}}
			 			<form action="/{{this.artist}}?_method=Put" method="POST">
			        	<button type="submit">Buy!</button>
			      		</form>
			</div>
		{{/each}}
	</div>
</div>

<div class = container>
	<div class = row>
		{{#each product}}
			<div class = col-md-4>
				{{this.photo}}
				{{this.description}}
				{{this.stars}}
				{{this.price}}
			 			<form action="/{{this.artist}}?_method=Put" method="POST">
			        	<button type="submit">Buy!</button>
			      		</form>
			</div>
		{{/each}}
	</div>
</div>


